<!doctype html>
<html>

<head>
    <title>Journal</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/03bbf37f81.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Create A Free Journal</h1>
            <img src="img/journal.png" alt="journal cartoon">

            <p>Login or Signup:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

        </div>

    </div>
</body>

</html>